/******************************************
*
* LOGO
*
*******************************************/


svg#lifter {
	border: 0px solid red;
	margin: -5px 0px 0px 0px;
}

#lifter:hover {
	cursor: pointer;
}

#lifter path {
	stroke: black;
	stroke-width: 1;
}

.strengthify-header-link i {
	-webkit-transform: scale(0.7);
	margin: 11px 0px 0px 5px;
}

.strengthify-logo svg {
	margin: -5px 0px 0px 0px;
	-webkit-transform: scale(0.6);
}

.strengthify-logo svg line {
	fill: blue;
	stroke: black;
}

.strengthify-header-list {
	list-style-type: disc;
	border: 0px solid blue;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	float: left;
	z-index: 1000000000;

}

.strengthify-header-list li {
	height: 35px;
	display: inline;
	float: left;
}

.strengthify-header {
	font-family: baskerville;
	text-decoration: underline;
	font-size: 1.9em;
	font-weight: bolder;
	text-shadow: 0px 0px #d55;
	border: 3px solid blue;
}
.strengthify-header:hover {
	cursor: pointer;
}