/******************************************
*
* LOGO
*
*******************************************/


svg#lifter {
	border: 0px solid red;
	margin: -5px 0px 0px 0px;
}

#lifter:hover {
	cursor: pointer;
}

#lifter path {
	stroke: black;
	stroke-width: 1;
}

#name_logo {
	margin: 3px 0px 0px 0px;
	text-decoration: none;
	font-size: 26px;
	font-family: baskerville;
	font-weight: bolder;
	text-shadow: 0px 0px #d55;
	background: #ddd url("/assets/static.png");
}

#name_logo a {
	color: #343434;
}

#name_logo a span {
	color: #777;
}

#name_logo a i {
	-webkit-transform: scale(0.7);
	margin: 11px 0px 0px 5px;
}

#lift_logo svg {
	margin: -5px 0px 0px 0px;
	-webkit-transform: scale(0.6);
}

#lift_logo svg line {
	fill: blue;
	stroke: black;
}

#logo_list {
	list-style-type: disc;
	border: 0px solid blue;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	float: left;
}

#logo_list li {
	height: auto;
	display: inline;
	float: left;
}

#logo_list li a {
	text-decoration: none;
}