<h1>Training</h1>

<ul id="training_tabs">
	<li class="link_tab"><%= link_to 'Workout List', '#', id: "workout_index", class: "choose_training_view" %></li>
	<li class="link_tab"><%= link_to 'Analytics', '#', id: "analytics_index", class: "choose_training_view" %></li>
</ul>

<table id="index_of_workout_tables">
  <thead>
    <tr>
			<th>Date</th>
      <th>Workout</th>
    </tr>
  </thead>

  <tbody>
    <% @user.workouts.each do |workout| %>
    <tr class="row_for_workout">
			<td><%= workout.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= link_to "#{workout.name}", user_workout_path(@user.id, workout.id), id: "#{workout.id}", class: "show_workout", remote: :true %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="workout_data"></div>
<div style="clear: both"> </div>

<script>
$(document).ready(function() {
	$('#training_tabs li').first().addClass('active');
	$('#workout_index').on('click', function() {
		return false;
	});
	
	/* Color tabbing for links inside of #training_tabs list */
	$(function() {		
	   var links = $('a.choose_training_view').click(function() {
	       links.parents('li').removeClass('active');
	       $(this).parents('li').addClass('active');
			return false;
	   });
	});
	
	/* Color tabbing for links inside of #index_of_workouts_table */
	$(function() {
	   var links = $('a.show_workout').click(function() {
	       links.parents('tr').removeClass('active');
	       $(this).parents('tr').addClass('active');
			
	   });
	});
	
	
	
});
</script>