
<!-- data-user attribute passes user_id to training_graph.js in assets/javascripts -->
<div id="tabContainer" data-user="<%= @user.id %>">

    <div class="tabs">
      <ul>
        <li id="tabHeader_1">Analytics</li>
        <li id="tabHeader_2">Workout List</li>
        <li id="tabHeader_3">Leaderboard</li>
      </ul>
    </div>

    <div class="tabscontent">
				
      	<div class="tabpage" id="tabpage_1">
					<%= render "analyze" %>
				</div>			
			
      	<div class="tabpage" id="tabpage_2">
 					<%= render "index" %>
      	</div>

      	<div class="tabpage" id="tabpage_3">
          
      	</div>

    </div>
</div>

