Hello <%= @user.name %>,

<p> 
	If you use the Moves mobile app to track your activity on the go, you can now integrate your data with Strengthify.com. Give it a try, and let us know what you think.
</p>

Kevin Young,

Founder
Strengthify