Hello <%= @user.name %>,

<p> 
	If you use the Moves app to track your activity on the go, you can now integrate your data with Strengthify. Give it a try, and let us know what you think!
</p>

Kevin Young,

Founder
Strengthify