<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>
      My name is Kevin Young, and I'm the founder of Strengthify. You're just starting out on the site, so is there anything I can help you with? Do you have any questions, comments, feedback, or complaints about Strengthify? I'd be very happy to help out.

      I built Strengthify for you, so let me know your thoughts. Just hit reply and I'll get back to you ASAP. 
    </p>
	<p> Have an great day! <br/><br /> Kevin Young<br/> Founder, Strengthify</p>
  </body>
</html>