<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>
      My name is Kevin Young, I'm the founder of Strengthify. I noticed that you joined Strengthify today and I wanted to reach out to you to see if you had any questions, comments, or feedback about Strengthify.

      Just reply to this e-mail and I'll get back to you as soon as I can. 
    </p>
	<p> Onwards and Upwards, <br/><br /> Kevin Young<br/> Founder, Strengthify</p>
  </body>
</html>