<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>
      My name is Kevin Young. I'm the founder of Strengthify. I saw that you recently signed up on the site! Do you have any questions, comments, feedback, or complaints about Strengthify? Please let me know and I'd be happy to help out.

      Just hit reply and I'll get back to you ASAP. 
    </p>
	<p> Have a great day! <br/><br /> Kevin Young<br/> Founder, Strengthify</p>
  </body>
</html>