<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey <%= @user.name %>,</p>
    <p>
      I'm Kevin, founder of Strengthify. Thanks for trying us out! Is there anything I can help you with right now? Got any questions, comments, feedback, or complaints? I'd love to hear 'em. This product is for you, so help me learn what you think the best way to simplify strength training would be! If you have any feedback, just hit reply and I'll get back to you ASAP. 
    </p>
	<p> Best, <br /> Kevin Young</p>
  </body>
</html>