/********************************************
*
* WORKOUT FORM
*
********************************************/

.build-workout-bar {
	font-family: "Source Sans Pro";
	p {
		color: white;
	}
	font-size: 1.5em;
	height: auto;
	background-color: #444;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.workout-build__container {
	position: relative;
	padding-bottom: 10px;
}

.remove-exercise {
	margin: 1px 0px 0px 10px;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #bbb;
	opacity: 0.4;
	border-radius: 20%; 
	&:hover { cursor: pointer; background-color: #e22; opacity: 1; }
	img { margin-top: 3px; -webkit-transform: scale(0.9); }
	a {
		height: 100%;
		padding: 5px 6px 5px 6px;
		display: inline-block;
		margin: 0px 0px 0px 0px;
	}
}

.bar-expand {
	a {
		opacity: 0.9;
		text-decoration: none;
		&:hover {opacity: 1;}
	}
	border: 1px solid grey;
	width: 10.5%;
	height: 59px;	
	float: left;
}

.build-sets-exercises {
	float: left;
	width: 30.5%;
	border: 1px solid grey;
	height: 59px;
}

.bar-content {
	border: 1px solid grey;
	float: left;
	width: 20%;
}

.defaults {
	border: 1px solid grey;
	float: left;
	width: 10%;
	height: 59px;
	&:hover {
		background-color: lighten(#444, 5%);
	}
}

.defaults-list {
	right: 0;
	top: 60px;
	width: 130px;
	z-index: 300;
	background-color: #444;
	display: none;
	@extend %dropdown-list;
}

.bar-options {
	width: 29%;
	float: left;
}

#default-link:hover .defaults-list {
	display: block;
}

.build .workout-rest label {
	opacity: 0;
}

.build .workout-rest input {
	margin: -18px 0px 0px 0px;
}

.build .workout-rest .slider {
	top: -17px;	
}

.bar-ex-count {
	vertical-align: middle;
	font-size: 1.47em;
	margin: -.1em 0px 0px 0px;
	display: inline-block;
}

.build {
	display: none;
	position: relative;
	margin: 0 auto;
	width: 55.5%;
	font-size: 16px;
	padding-left: 48px;
	@include inverted-rounded-corners(0px, 0px);
	@include outer-box-shadow(0px, 0px, 1px, 0px, #444);
}

#build-workout__add-ex {
	display: none;
}

.build .workout-submit { float: right; } 
.build label { @extend %block-label; }
.build input {
	font-size: 0.8em;
  padding: 6px 4px 6px 4px;
	border: 1px solid #ddd;
	@include rounded-corners(3px);
	&[type="submit"] { @extend %button-large; }
}

#workout_sets {
	text-align: center;
	margin: -9px 3px 0px 0px;
	font-size: 0.8em;
  padding: 6px 4px 6px 4px;
	border: 1px solid #ddd;
	@include rounded-corners(3px);
}

.build .exercise-count {
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 2px 0px 0px -42px;
	background: #fd4042;
	@include rounded-corners(10px);
	padding: 5px;
	color: #222;
}

#save-built-workout {
	background-color: #fefefe;
	border: 2px outset;
	color: buttontext;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
	font-size: 0.8em;
	margin-top: 16px;
	padding: 2px 6px 3px;
	bottom: 0;
	&:hover {
		@include outer-box-shadow(0px, 0px, 2px, 0px, #fff);	
	}
}

.clear-exercises {
	@extend #save-built-workout;
}


.workout-builder--no-exercises {
	display: none;
	position: absolute;
	font-family: "Source Sans Pro";
	top: 25%;
	left: 39%;
	color: #aaa;
	text-align: center;
}

.default-triangle {
	@include triangle-down(#dcdcdc, 5px);
	margin: 10px 0px 0px 5px;
}


