/********************************************
*
* WORKOUT FORM
*
********************************************/

.build-workout-bar {
	font-family: "Source Sans Pro";
	p { color: white; }
	font-size: 1.5em;
	background-color: #444;
	&:after { content: ""; display: table; clear: both; }
}

.workout-build__container {	padding-bottom: 10px; }

.remove-exercise {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #bbb;
	opacity: 0.4;
	border-radius: 20%; 
	&:hover { cursor: pointer; background-color: #e22; opacity: 1; }
	img { margin-top: 3px; opacity: 0.8; }
	a { padding: 5px 6px; display: inline-block; }
}

.first { margin: 17px 0px 0px -17px; }

.bar-expand { border: 1px solid #666; width: 10.5%; float: left; }
.build-sets-exercises {
	overflow: hidden;
	padding-top: 5px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	label { background-color: #efefef; margin-top: 0px; padding: 5px 0px; float: left; }
	#workout_sets { float: left; display: inline; margin-top: 0;} 
	#workout_name { float: left; display: inline; margin-top: 0; }
}

.sets-box { width: 21%; float: left; }
.name-box { width: 45%; float: left; }
.defaults { float: right; margin-top: 7px; width: 10%; 
	a {
		display: inline-block;
		margin-left: -15px;
		opacity: 0.6;
		&:hover {opacity: 0.9;}
	} 
}

.defaults-list {
	position: absolute;
	right: 0;
	top: 0;
	left: 101%;
	width: 156px;
	z-index: 300;
	background-color: transparent;
	display: none;
	@extend %dropdown-list;
}


.build .workout-rest label { opacity: 1; margin-top: 0px; }
.build .workout-rest input { margin-top: 0px; }
.build .slider { top: 0px; width: 38px; }

.bar-ex-count {
	vertical-align: middle;
	font-size: 1.47em;
	margin: -.1em 0px 0px 0px;
	display: inline-block;
}

.build {
	display: none;
	border: 1px solid #ccc;
	width: 60.5%;
	font-size: 16px;
	padding: 0px 0px 10px 48px;
	@include outer-box-shadow(0px, 0px, 0px, 0px, #444);
}

#build-workout__add-ex { display: none; }
.build label { @extend %block-label; font-size: 0.8em; }
.build input { font-size: 0.8em; padding: 6px 4px; }

#workout_sets {
	text-align: center;
	margin-top: -9px;
	margin-right: 3px;
	font-size: 0.8em;
  padding: 6px 4px;
	border: 1px solid #ddd;
	@include rounded-corners(3px);
}

.ex-name label {font-size: 0.6em;}

.wrkt-hrs, .wrkt-mins { display: none;}
.wrkt-time-opts {width: 48px;}

.build .exercise-count {
	position: absolute;
	margin: 4px 0px 0px -42px;
	background: #ee4040;
	@include rounded-corners(5px);
	padding: 6px 5px;
	color: #222;
}

.first-ex-count { top: 65px; }

.bar-options { 
	width: auto; 
}

#save-built-workout {
	@extend .btn;
	width: 80px;
	margin: 8px auto;
	display: inline-block;
}
.clear-exercises { @extend #save-built-workout; }
.build-wrkt-details { 
	display: none; 
	&:after { content: ""; display: table; clear: both; }
}

.workout-builder--no-exercises {
	display: none;
	position: absolute;
	font-family: "Source Sans Pro";
	top: 25%;
	left: 39%;
	color: #aaa;
	text-align: center;
}

.wrkt-completed {
	width: 70%;
	float: left;
}

.detail-link-wrapper {
	width: 30%;
	float: left;
	position: relative;
}


.build-wrkt-details .form-row input, .build-wrkt-details .form-row label {
	display: inline; margin: 5px;
}



#build-wrkt-details:after {
	@include triangle-down(#444, 5px);
	top: 47%;
	margin-left: 5px;
}

.wrkt-build-details {
	padding-top: 10px; 
	border-top: 1px dotted #aaa;
	display: none; 
	label {float: left; text-align: left;}
	input, a {float: left;}
}



