// Performable page

.performable {
	border-collapse: collapse;
	td {
		padding: 10px;
		border-bottom: 1px dotted #444;
	}
	left: 0;
	right: 0;
	margin: 0 auto;
	.perf-num {
		vertical-align: top;
	}
}

.perform-button {
	@extend %button-large;
	padding: 8px;
}

.edit-button {
	@extend %button-large;
	padding: 8px;
}




// Perform page

.workout-perform {
	width: 50%;
	margin: 0 auto;
	position: relative;
}

.workout-performable {
	border: 1px solid red;
}

.wrkt-button-menu {
	width: 100%;
	border-collapse: collapse;
}

.wrkt-perform-actions {
	width: 100%;
	height: 50px;
}

.wrkt-table {
	font-family: "Source Sans Pro";
	font-size: 1.8em;
	margin: 0 auto;
}

.wrkt-start {
	height: 100%;
	
}

.wrkt-finish {
	height: 100%;
}

.wrkt-progress {

}

.wrkt-prog-bar {
	border: 1px solid black;
	float: left;
}
.wrkt-percent-complete {
	float: left;
	border: 1px solid black;	
}


@media only screen and (max-width: 640px) {

.workout-perform { width: 95%; }

.wrkt-table {font-size: 1.2em;}



}