// Performable page
.performable {
	border-collapse: collapse;
	text-align: left;
	td { padding: 15px 10px; border-bottom: 1px solid #ccc; }
	margin: 0 auto;
	.perf-num { vertical-align: top; color: #999; }
	.button_to, .button_to div {
		display: inline;
	}
}

.perform-button {
	@extend %button-large;
	padding: 8px;
}

.edit-button {
	@extend %button-large;
	padding: 8px;
}

// Perform page
.workout-perform {
	width: 50%;
	margin: 0 auto;
	position: relative;
}

.wrkt-button-menu {
	width: 100%;
	border-collapse: collapse;
}

.wrkt-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 2.3em;
	line-height: 1em;
	text-align: left;
	th { font-size: .6em; }
	td { padding: 3px 3px; }
	input {
		border: none;
		width: 40px;
		font-size: 1.0em;
		height: 100%;
		background: transparent;
	}
}

.wrkt-sets { 
	border-top: 1px dotted #bbb; 
	border-bottom: 1px dotted #bbb; 
	input {
		font-weight: bolder; 
		font-family: verdana, arial, helvetica, sans-serif;
		} 
	}

.performable-ex {
	.ex-name {
		font-size: 0.9em;
		input { margin-top: 2px; width: auto;}
	}
}

.completed {
	input {opacity: 0.76;}

}
.uncompleted {
	color: #444;
	input {color: #444;}

}
.performing {
	input {color: #444;}
	border: 1px dotted #bbb;
	background-color: #fefefe;
}

.btn-increment, .btn-decrement { display: none; }
.revision { display: none; }
.wrkt-prog-bar { width: 100%; }

.prog-text {
	padding: 0px 5px;
	min-width: 30px;
	color: #fefefe;
	background-color: rgba(200, 200, 200, 0.5);
	height: 100%;	
}

@media only screen and (max-width: 640px) {
.workout-perform { width: 95%; }
.wrkt-table {font-size: 1.2em;}
}

