.login {
	background: rgba(00, 100, 200, 0.4);
	width: 360px;
	border-radius: 5px;
	padding: 0px 0px 30px;
	margin: 0px auto;
	#email, #password {
		font-size: 1.1em;
  	padding: 10px 6px;
  	width: 240px;
		border: 1px solid #ddd;
		@include rounded-corners(3px);
	}
	input[type="submit"] { 
		font-size: 1.2em;
		width: 240px;
		@extend %button-large; 
	}
}

.register {
	@extend .login;
	input {
		font-size: 1.1em;
  	padding: 10px 6px;
  	width: 240px;
		border: 1px solid #ddd;
		@include rounded-corners(3px);
	}
}

.title {
	color: #eecc99;
	width: 100%;
	font-size: 1.9em;
	padding: 20px;
	border: 1px solid #bbb;
	background-color: darken(rgba(00, 100, 200, 0.4), 10%);
}

.register-button {
	@extend .btn;
	@include simple-vert-gradient(#309930);
	width: 240px;
	margin: 0 auto;
	border-radius: 5px;
}

.new-registrant {
	padding-left: 60px;
	text-align: left;
	color: #555;
}


@media only screen and (max-width: 640px) {

.login, .register {
	width: 300px;
	padding-bottom: 10px;
	input[type="text"], input[type="email"], input[type="password"] {
		font-size: 1.1em;
  	padding: 10px 6px;
  	width: 260px;
		border: 1px solid #ddd;
		@include rounded-corners(3px);
	}
}

.register input[type="submit"], .register .register-button { 
		font-size: 1.2em;
		width: 260px;
		@extend %button-large; 
}

.title {
	font-size: 1.7em;
}
.new-registrant { padding-left: 30px; }

}



