/*****************************************
*
* PROFILE PAGES
*
******************************************/

#photo img {
	border: 0px solid white;
	box-shadow: #444 0 0 5px;
	margin-left: 0;
}

.profile {
	border: 0px solid blue;
	overflow: hidden;
}

.profile-nav {
	border: 0px solid red;
	float: right;
}

.profile-nav-header {
	height: auto;
	width: 100%;
	margin: 0 auto;
	border-bottom: 0px solid black;
	padding-left: 20px;
	h2 {float: left;}
}

.profile-info {
	margin: 0px auto;
	width: 75%;
}

.profile-main-content {
	width: 100%;
	border-top: 1px solid #ccc;
	overflow: hidden;
}

.profile-header {
	border: 0px solid black;
	float: left;
	width: 25%;
	padding: 0px 0px 0px 0px;
}

.profile-data {
	float: left;
	width: 45%;
	table {
		border-collapse: collapse;
	}
}

.profile-data th {
	text-align: left;
	font-style: italic;
	font-weight: normal;
	color: #A0A0A0;
	padding-right: 15px;
}

.profile-data td {
	white-space: nowrap;
	text-align: left;
	padding: 2px 5px 2px 0px;
}

.profile-data tbody:first-child {
	border-top: 5px solid transparent;
}

.profile-data tbody {
	border-top: 13px solid transparent;
}


.italic {
	display: inline-block;
	font-style: italic;
}

.profile-about-me {
	float: left;
	width: 30%;
	text-align: left;
	padding: 10px;
	min-height: 200px;
	background-color: #f8f8f8;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #eee;
}

#info {
	border: 0px solid red;
	margin: 50px 0px 0px 0px;
	width: auto;
	float: left;
}

.profile-workout-info {
	width: 75%;
	border: 0px solid pink;
	margin: 0 auto;
}

.profile-workouts {
	border: 3px solid #eee;
	width: 50%;
	float: left;
	clear: both;
	min-height: 600px;
	padding: 10px 30px 0px 0px;
	margin: 0px auto;
}

.profile-workout-header {
	font-family: baskerville;
	color: #444;
	border-bottom: 1px solid #ccc;
}

.profile-workout-header span {
	color: #777;
}

.profile-challenges {
	padding: 10px 0px 0px 0px;
	float: left;
	width: 45%;
	border: 0px solid #eee;
}

.glory-give {
	&:hover {cursor: pointer;}
}


