/*****************************************
*
* PROFILE PAGES
*
******************************************/

#photo img {
	border: 3px solid white;
	box-shadow: #444 0 0 10px;
	overflow: visible;
}

#profile_container {
	border: 0px solid blue;
	overflow: hidden;
}

#profile_top {
	border: 0px solid black;
	margin: 0px auto;
	overflow: hidden;
	width: 900px;
}

#info {
	border: 0px solid red;
	margin: 50px 0px 0px 0px;
	width: auto;
	float: left;
}

#profile_workout_container {
	border: 1px solid #444;
	width: 450px;
	float: left;
	clear: both;
	min-height: 600px;
	padding-top: 20px;
	margin: 20px auto;
}

#workouts_header {
	font-family: baskerville;
	color: #444;
	border-bottom: 1px solid #ccc;
}

#workouts_header span {
	color: #777;
}

#challenges {
	float: right;
	width: 500px;
	border: 1px solid red;
}

#challenges h2 {
	border-bottom: 1px solid #ccc;
}

#challenges h2 span {
	color: #777;
}

.workouts_graph {
	position: relative;
	border: 0px solid red;
	padding: 50px;
	border-radius: 30px/10px;
	width: 500px;
	float: right;
	margin: 40px 10px 0px 0px;
	box-shadow: 0 0 20px #444;
	background: #fffefc;
}

.workouts_graph p {
	font-size: 36px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
}

.workouts_graph a {
	width: 100px;
	border: 0px solid red;
	background: #08D;
	font-style: bolder;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	color: #ddd;
	border-radius: 5px;
	box-shadow: #444 5px 5px 5px;
}

.workouts_graph a:hover {
		background: #0AF;
		color: #fff;
		margin-left: 2px;
		margin-top: 2px;
		box-shadow: #444 3px 3px 3px;
}

