
/*******************************************
*
* HEADER & NAVIGATION
*
********************************************/

#header {
	position: fixed;
	background: rgba(245, 245, 245, 0.85);
	width: 100%;
	height: 40px;
	z-index: 10;
}

#header_content {
	width: auto;
	width: 90%;
	margin: 0px auto;
	clear: both;
}

/* Header Navigation */  
.header-nav { 
	float: right;
	position: relative; 
	margin: -3px 0px 0px 0px;
}

.header-nav-list { 
	@extend %hr-list;
	img {
		vertical-align: bottom;
		margin-right: 4px;
		border-radius: 4px;
	}
	.nav-profile-li {
		border: 1px solid rgba(245, 245, 245, 0.85); // Make this the same as the background color
		&:after {
			@include triangle-down(#aaa, 5px);
			margin: -11px 0px 0px 113px;
			opacity: 0.9;
		}
	}
	.profile-link {
		border-radius: 5px;
		a {
			color: #666; 
			text-decoration: none;
			&:hover { color: #222; } 
		}
		text-align: center;
		padding: 3px 10px 1px 10px;
		margin-right: 5px;
	}
	li { 
		padding: 0px 20px 8px 5px;
		font-family: "AlteHaasGrotesk";
		font-size: 1.1em;
		position: relative; 
		color: #666;
	}
	li.showing {
		margin-top: -5px;
		padding: 5px 20px 8px 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #fff;
		border: 1px solid #aaa;
	}
}

.divider {
	position: absolute;
	padding-left: 8px;
	height: 25px;
	border-right: 1px solid #aaa;
	width: 1px;
}

.header-nav-dd-li {
	margin-top: 0.72em;
	font-size: 0.83em;
	white-space: nowrap;
	background: #fefefe;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	@include outer-box-shadow(0px, 2px, 5px, 0px, #444);
	li {
		border: 1px solid transparent;
		a, input {
			text-decoration: none;
			display: inline-block;
			width: 100%;
	}
		padding: 3px 11px;
		&:hover { 
			@include simple-vert-gradient(#77ccff, #4499cc);
			border-top: 1px solid #2299dd;
			border-bottom: 1px solid #777;
			color: #fafafa;
			a, input { color: #fefefe;}
		}
	}
}

li.li-border {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* JS state class */
.dd-prnt-style { height: 100%; opacity: 0.6; }
.dd-li-style { width: 100%;}

.header-nav-list__unregistered {
	@extend %hr-list;
	li {
		margin: -3px 0px;
		padding: 0px 5px;
	}
	.btn {
		font-size: 1.0em;
		padding: 7px;
	}
}


/* Sub Header Navigation */
.sub-header-nav {
	position: fixed;
	left: 37%;
	float: none;
	width: 330px;
	margin: -5px auto;
	z-index: 10;
}

.sub-header-nav-list {
	@extend %hr-list;
	li {
		padding: 3px;
		border-radius: 15px;
		color: #666;
	}
	a {
		color: #666;
		padding: 0px 8px;
		text-decoration: none;
		width: 100%; 
		height: 100%;
		&:hover {
			color: #222;
		}
	}
}


/******************************************

NOTIFICATIONS

*******************************************/


.strengthify-header-list {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	float: left;
}

.strengthify-header-list > li {
	height: 35px;
	display: inline;
	float: left;
}

.strengthify-header {
	font-family: baskerville;
	text-decoration: underline;
	font-size: 1.9em;
	font-weight: bolder;
	text-shadow: 0px 0px #d55;
}

.strengthify-header:hover {
	cursor: pointer;
}

.strengthify-header-link {
	display: inline-block;
	margin-top: 8px;
}

.notifications {
	border-radius: 5px;
	position: relative;
	text-align: center;
	margin-left: 5px;
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	&:hover {
		background-color: #eaeaea;
		cursor: pointer;
	}
	&:hover i {
		opacity: 1.0;
	}
}

.notifications i {
	opacity: 0.6;
	position: relative;
	margin: 8px auto;
	z-index: 200;
}

.notification-count {
	min-height: 35px;
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 5px;
	background-color: rgba(235, 66, 66, 1);
	font-size: 1.1em;
	font-weight: bold;
	color: #222;
	padding-top: 3px;
	opacity: 0.9;
}

.notifications-dropdown {
	padding: 0;
	left: 0;
	margin-top: 13px;
	margin-left: -94px;
	list-style-type: none;
	display: none;
	position: absolute;
	background: white;
	font-size: 0.7em;
	color: #777;
	width: auto;
	@include outer-box-shadow(0px, 0px, 5px, 0px, #444);
	&:before {
		position: relative;
		z-index: 10000;
		@include triangle-up(#ccc, 10px);
		left: 50%;
		top: -17%;
	}
}

.notifications-dropdown-li-item {
	width: 200px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}


/* JS States */
.notifications-absent {
	background-color: transparent;
}


/********************************************
*
* WRAPPERS
*
********************************************/

#application_wrapper {
	border: 1px solid transparent;
	width: 100%;
	min-width: 1150px;
	margin: 0 auto;
	text-align: center;
}

#landing_wrapper {
	border: 1px solid transparent;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

#content_wrapper {
	margin: 100px auto;
	text-align: center;
	overflow: visible;
}
