$nav_width: 10em; 
/*******************************************
*
* HEADER & NAVIGATION
*
********************************************/

#header {
	position: fixed;
	background: #ddd url("/assets/static.png");
	width: 100%;
	top: 0;
	height: 40px;
	z-index: 100;
}

#header_content {
	width: 100%; 
	text-align: center;
	font-family: baskerville;
	text-decoration: underline;
	font-size: 1.9em;
	font-weight: bolder;
	text-shadow: 0px 0px #d55;
}

.strengthify-header-link {
	margin: 10px auto;
	display: inline-block;
}

.strengthify-header-list {
	list-style: none;
	padding: 0;
	margin: 0px 0px;
}

.header-nav-list__unregistered {
	display: none;
	@extend %hr-list;
	li {
		margin: -3px 0px;
		padding: 0px 5px;
	}
	.btn {
		font-size: 1.0em;
		padding: 7px;
	}
}




/********************************************
*
* WRAPPERS
*
********************************************/

#application_wrapper {
	width: 100%;
	border: 2px solid green;
	margin: 0 auto;
	text-align: center;
}

#landing_wrapper {
	border: 1px solid transparent;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

#content_wrapper {
	margin: 70px auto;
	text-align: center;
	overflow: visible;
}