<div id="top_section">
	<div id="value_statement">
		<h1> The easiest way to plan and log strength workouts. </h1>
		<h4> Plan workouts with over 200 exercises, then log them and get feedback on your progress. </h4>
	</div>

	<div id="login_area">
		<%= render 'sessions/new' %>
	</div>
</div>
<div style="clear: both;"></div>


<div id="first_value_statement"> 
	Strength Training Doesn't Have To Be A Hassle. 
</div>
<p id="second_value_statement"> 
	Experience the best way to record workouts. <%= link_to 'Get Started', signup_path  %> 
</p>


