%hr-list {
	list-style: none;
	display: inline-block;
	padding: 0;
	width: 100%;
	li {
		float: left;
	}
}

%vert-list {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		padding: 0px 20px 0px 20px;
	}
}

%dropdown-list {
	list-style: none;
	width: 100%; 
	margin: 0;
	padding: 0;	
	position: absolute;
	li {
		width: 100%;
		text-align: left;	
	}
}