%hr-list {
	list-style: none;
	display: inline-block;
	padding: 0;
	width: 100%;
	li {
		float: left;
	}
	a {
		text-decoration: none;
		color: #666;
	}
}

%vert-list {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		padding: 0px 20px 0px 20px;
	}
}

%dropdown-list {
	list-style: none;
	width: 100%; 
	margin: 0;
	padding: 0;	
	left: 0;
	position: absolute;
	li {
		text-align: left;	
	}
}

.dd-prnt {
	&:hover {
		color: #343434;
		cursor: pointer;
	}
}

.dd-li {
	z-index: 1000;
	@extend %dropdown-list;	
	display: none;
	margin-top: 5px; 
	> li {
		font-weight: bold;
	}
}