<ul id="social_media">
 	<li> <%= link_to "ST", "http://strengthify.com", id: "at_logo", class: "social_media_icon" %> </li>
	<li> <%= link_to image_tag("stackoverflow-32.png"), 'http://stackoverflow.com/users/1205460/kwyoung11', id: "stackoverflow_logo", class: "social_media_icon" %> </li>
	<li> <%= link_to "in", "http://www.linkedin.com/pub/kevin-young/59/b91/35", id: "in_logo", class: "social_media_icon" %> </li>	
	<li id="github_logo" class="social_media_icon"> <%= render '/layouts/github_logo' %> </li>
</ul>