<p id="notice"><%= notice %></p>

<p> <%= @scheduled_workout.scheduled_date %> </p>

<%= link_to 'Edit', edit_scheduled_workout_path(@scheduled_workout) %> |
<%= link_to 'Back', scheduled_workouts_path %>
