<!-- Admin Navigation-->
<ul>
	<li><%= link_to 'Users', admin_users_path %></li>
	<li><%= link_to 'Exercise DB', admin_workouts_path %></li>
	<li><%= link_to 'Exercise DB', admin_exercises_path %></li>
</ul>


