 <div class="ex_fields">
 	<div class="field">
 		<%= f.label :name %>
 		<%= f.text_field :name, class: "exercise_name" %>
 		<%= link_to "Remove Exercise", '#', class: "remove_fields" %>
 	</div>
 </div>
