.filter-message {
	color: white;
	background-color: #a4b344;
	margin-left: 5px;
	margin-right: 5px;
	padding: 1px 0px;
	z-index: 300;
}

.filter-message:after {
	@include triangle-down(#a4b344, 12px);
	margin: 19px 0px 0px -100px;
}

.faceted-navigation {
	margin-top: 4px;
	@include outer-box-shadow(0px, 0px, 5px, 0px, #444);
	width: 21%;
	float: left;
}

.faceted-navigation-list { @extend %vert-list; }

.faceted-navigation-list__sub-list {
	margin-top: 20px;
	margin-bottom: -4px;
	@extend %hr-list;
	li {
		color: white;
		width: 50%;
		height: 42px;
		border: 1px solid #777;
		background-color: #ccc;
		&:first-child {a {margin-top: 3px;}}
		a {
			display: inline-block;
			width: 100%;
			img {	margin-top: 5px;}
		}
	}
	&:hover {
		cursor: pointer;
	}
}

.filter-type-header {
	@extend %header-md;	
	position: relative;
	padding: 0px 30px 0px 20px;
	color: #565;
	&:after {
		@include hr-border-gradient(#444, #ccc);
		top: 100%;
		left: 0;
	}
	.fade { 
		color: lighten(#444, 35%); 
	}
}

.exercise-selectors-list {
	@extend %vert-list;
	li {
		text-align: left;
		padding: 0;
		&:hover { background-color: #f5f5f5; cursor: pointer; }
	}
	label { 	white-space: nowrap; }
}

.facet-count {
	color: #bbb;
}

#clear_all_filters {
	margin-top: 3px;
}


/* Icons */

#circle_UpperBody {
	position: relative;
	border: 1px solid red;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: orange;
	display: inline-block;
}

#circle_LowerBody {
	position: relative;
	border: 1px solid #444;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: blue;
	display: inline-block;
}

#circle_Torso {
	position: relative;
	border: 1px solid #444;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: red;
	display: inline-block;
}








/* Search */

#search_exercises_wrapper {
	border: 0px solid blue;
	margin: 0px 0px 0px 0px;
	width: 100%;
	background-color: #444;
	height: 45px;
}

#search {
	margin: 13px -30px 0px 0px;
}

#search_submit_button {
	display: inline-block;
	padding-left: 5px;
	margin: 0px 0px 0px 0px;
}

.icon-search {
	padding-left: 5px;
	margin: 2px 0px 0px 0px;
	border-left: 1px solid #bbb;
}

input[type="search"] {
	width: 170px;
}
