.workout-builder {
	float: left;
	width: 16.5%;
	border: 1px solid red;
}

.workout-builder__header {
	border-bottom: 1px solid #444;
}

.workout-builder__exercise-list {
	position: relative;
	border: 1px solid green;
	overflow: hidden;
	@extend %vert-list;
	text-align: left;
	padding-bottom: 40px;
	li { 
		border: 1px solid #aaa;
		padding: 3px; }
}

.remove-exercise {
	display: inline-block;
	background-color: #bbb;
	opacity: 0.6;
	border-radius: 50%; 
	float: right;
	&:hover { 
		cursor: pointer; 
		background-color: #bbb;
		opacity: 1;
		border-radius: 50%; 

	}
}

.workout-builder-wrapper {
	border: 1px solid blue;
	position: fixed;
	width: 13.5%;

}

.workout-builder-footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #444;
	height: 40px;
	border: 1px solid red;
	text-align: center;
}

.save-built-workout {
	@extend %button-large;	
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	bottom: 0;
	@include outer-box-shadow(0px, 0px, 10px, 0px, #fff);
}

.workout-builder--no-exercises {
	font-family: "Source Sans Pro";
	font-size: 1.2em;
	color: #aaa;
	text-align: center;
}