/* LIST VIEW
------------------------------------------------------------------------------------------------------------------------------- */

.list a:before,
.list a:after {
    left:8px;
    width:12px;
    height:2px;
    border-width:6px 0;
    border-style:double;
    border-color:#c55500;
    background:transparent;
}

.list a:after {
    left:4px;
    width:2px;
}

.list a:hover:before,
.list a:focus:before,
.list a:active:before,
.list a:hover:after,
.list a:focus:after,
.list a:active:after {
    border-color:#730800;
    background:transparent;
}
.list { border: 1px solid red}