
/********************************************
*
* LANDING PAGE
*
********************************************/
.val {line-height: 1.1em;}

.invitation-signup {
	background-color: rgba(0, 77, 188, 0.2);
	width: 58%;
	margin: 0 auto;
	padding: 50px;
	border-radius: 10px;
	p {
		font-family: "AlteHaasGrotesk";
		font-size: 1.5em;
		margin: 0 auto;
		text-align: center;
		line-height: 1.5em;
		margin: 0;
		padding-bottom: 10px;
	}

	#invitation_recipient_email { 
		font-size: 0.8em; 
		padding: 6px 4px;
		border-radius: 2px;
		border: 1px solid #ddd;
		@include rounded-corners(3px);
	}

	#submit_email {
		display: inline-block;
		@extend .btn-success;
		width: auto;
		font-size: .9em;
		margin-top: -2px;
		padding: 5px 5px;
		box-shadow: none;
		border-radius: none;
	}
}

.flipped {
	font-family: "AlteHaasGrotesk";
	font-size: 2.1em;
	text-shadow: 0px -0.5px #fff;
	color: #454545;
}

#new_invitation {
	.ws-errorbox {
		margin-left: -40px;
	}
}

#invitation_recipient_email::-webkit-input-placeholder {
  	display: inline-block;
  	font-family: "rockwell";
  	vertical-align: middle;
  	margin: 0px 0px 0px 0px;
  	padding: 3px 0px 0px 5px;
	}

#invitation_recipient_email :-moz-placeholder { /* Firefox 18- */
   @extend #invitation_recipient_email::-webkit-input-placeholder;
}

#invitation_recipient_email ::-moz-placeholder {  /* Firefox 19+ */
  @extend #invitation_recipient_email::-webkit-input-placeholder;
}

#invitation_recipient_email :-ms-input-placeholder {  
  @extend #invitation_recipient_email::-webkit-input-placeholder;
}

// *****************************
// FOOTER
// *****************************
html, body { background-color: #fff; height: 100%; }
#wrap {	
	margin: 100px auto 0px 0px;
	min-height: 100%;
	text-align: center;
	overflow: auto;
	padding-bottom: 250px;
}

.footer {
	position: relative;
	margin-top: -254px;
	height: 254px;
	clear: both;
	text-align: center;
	background-color: #444;
}

.icon-triangle-down {
	right: 0;
	left: 0;
	margin: 0px auto;
	@include triangle-down(#fff, 20px);
}

.footer-wrap {
	position: relative;
}

.statement {
	float: left;
	text-align: left;
	height: 70px;
}

.statement-action {
	float: left;
	font-size: 0.8em;
	height: 70px;
	a {z-index: 100;}
}

#first_value_statement {
	position: relative;
	padding-top: 50px;
	text-align: center;
	color: #fefefe;
	font-size: 28px;
}

#second_value_statement {
	position: relative;
	height: 70px;
	width: 60%;
	color: #fefefe;
	border-top: 1px grey dotted;
	border-bottom: 1px grey dotted;
	margin: 25px auto;
	padding: 0px;
	font-size: 22px;
	font-style: bold;
}

.get-started {
	width: 100%;
	margin-top: -6px;
}

#second_value_statement a:hover { background: #F00; }

// *********************************
// Features section for landing page
// *********************************

.icon-circle-arrow-right {
	display: inline-block;
	-webkit-transform: scale(2.5);
	vertical-align: middle;
}
.cool-features { position: relative; margin-top: 30px; padding: 3px; }
.feature-wrap {
	display: table;
	background-color: transparent;
	border-collapse: separate;
	border-spacing: 0 25px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.feature-section { padding-top: 60px; }
.feature-build-workout {
	.feature-wrap {	max-width: 1200px;}
	background-color: rgba(200, 66, 66, 0.7);
	color: #fdfdfd;
		&:after {
		position: absolute;
		@include triangle-down(rgba(200, 66, 66, 0.7), 20px);
		left: 47%;
		margin-top: 0px;
	}
	.feature-description ul li { color: #cf3b3c; }
	.meta-description { border-bottom: 1px dotted darken(rgba(200, 66, 66, 0.7), 10%); }
}

.feature-ex-db {
	.feature-wrap {	max-width: 1400px;}
	@extend .feature-build-workout;
	background-color: rgba(66, 166, 99, 0.7);
	&:after { @include triangle-down(rgba(66, 210, 99, 0.5), 20px); }
	.feature-description {
		padding-left: 10px;
		ul li { color: #cff0cf; }	
		}
	.meta-description { border-bottom: 1px dotted darken(rgba(66, 166, 99, 0.7), 10%); }
}

.feature-perform { 
	@extend .feature-build-workout; 
	.feature-wrap {	max-width: 1350px;}
}
.feature-analyze { 
	@extend .feature-ex-db; 
	background-color: #fefefe;
	.main-feature-header {color: #444;}
	&:after { @include triangle-down(rgba(66, 210, 99, 0.5), 0px); }
	.feature-wrap {	max-width: 1150px;}
}
.feature-social { @extend .feature-build-workout; }
.meta-description {
	line-height: 1.2em;
	color: #484848;
	text-align: left;
	padding: 10px 5px;
	margin: 0px 10px 0px 0px;
}

.feature { display: table-row; margin: 0px auto; }
.main-feature-header {
	line-height: 1.1em;
	padding-bottom: 10px;
	margin: 0;
	font-family: "AlteHaasGrotesk";
	font-size: 3.6em;
	text-shadow: 0px -1px #444;
}

.section-header {
	position: relative;
	top: 10px;
	color: white;
	padding: 1px 10px;
	text-align: center;
	background-color: #a4b344;
	margin: 0 auto;
	width: 100px;
}

.feature-gif {
	z-index: 500;
	display: table-cell;
	width: 75%;
	height: 100%;
	img { max-width: 100% !important; height: auto; }
}

.feature-description {
	line-height: 1.1em;
	position: relative;
	font-weight: bolder;
	display: table-cell;
	text-align: left;
	font-family: "AlteHaasGrotesk";
	font-size: 1.5em;
	margin-top: 20px;
	width: 25%;
	vertical-align: middle;
	max-width: 400px;
	ul { list-style: disc;
		li { padding: 10px; }
	}
}

.feature-perform {
	i { vertical-align: middle; }
}

.phone-wrap { float: left; }
.phone {
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	img { 
		@include rounded-corners(30px); 
		max-width: 100% !important; 
		height: auto; 
	}
}

.next-phone { display: table-cell; vertical-align: middle; }

// ************************************
// RESPONSIVE DESIGN FOR LANDING PAGE
// ************************************
@media screen and (max-width: 800px) {

.main-feature-header { line-height: 1.1em; font-size: 2.6em; }
.feature-gif { float: left; width: 100%; }
.phone-wrap { width: 100%; float: right;
	.phone { display: inline-block; width: 30%; }
	.next-phone { display: inline-block; }
}
.icon-circle-arrow-right { -webkit-transform: scale(1.5); }
.feature-description {
	display: table; 
	width: 100%;
	max-width: 100%;
	ul { 
		display: table-row;
		text-align: center;
		width: 100%;
		li { 
			display: table-cell;
			padding: 0px 3px;
			max-width: 120px;
		}
	}
}

#new_invitation .ws-errorbox { margin-left: 0px; }
.meta-description { text-align: center; display: table-caption; }
.header-bg { font-size: 4.1em; }
#first_value_statement, #second_value_statement {line-height: 1.1em;}
#second_value_statement { width: 95%; height: 110px;
	.statement {text-align: center;}
}
.footer { margin-top: -274px; height: 274px; }
.invitation-signup { padding: 20px 15px; width: 90%;
	input { margin-bottom: 10px; }
}

}