// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.notification-count {
	position: absolute;
	text-align: center;
	background-color: #dd4400;
	font-size: 0.7em;
	color: #222;
	opacity: 0.9;
}
	
.notification-count:hover {
	cursor: pointer;
	opacity: 1;

}

.strengthify-header-dropdown {
	padding: 0;
	margin-top: 14px;
	display: inline-block;
	position: absolute;
	background: white;
	font-size: 0.7em;
	color: #777;

	border: 1px solid #ccc;
	@include outer-box-shadow(0px, 0px, 5px, 0px, #444);
	&:before {
		@include triangle-up(#fff, 10px);
		left: 51%;
		top: -10px;
	}
	li {display: none;}
}

.strengthify-header-dropdown-li-item {
	display: none;
	padding: 5px;
	border: 1px solid green;
	overflow: hidden;
}

// .notification-count:before {
// 	content: "";
// 	height: 100%;
// 	display: inline-block;
// 	vertical-align: middle;
// }
