/********************************************************************************************************************
*
* 	TABLE OF CONTENTS:
* 		0. ANALYTICS
*			1. HEADER
* 		2. LANDING PAGE
* 		3. FOOTER
*			4. FRONT PAGE
*			5. PROFILE PAGES
*			6. TRAINING
* 		7. USER AUTHENTICATION/MANAGEMENT
*			8. WORKOUTS
*			9. WRAPPERS (APPLICATION/CONTENT)
*
**********************************************************************************************************************/



/********************************************
*
* ANALYTICS
*
********************************************/

#workout_analytics {
	height: auto;
	width: auto;
	display: block;
	border: 0px solid red;
}

svg {
	clear: both;
	margin: -140px auto;
	border: 0px solid green;
	display: block;
}

svg g {
	clear: left;
	border: 0px solid green;
	display: block;
}

path {
	stroke: steelblue; 
	stroke-width: 2; 
	fill: none;
}
.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1; 
	shape-rendering: crispEdges;
}

/*******************************************
*
* HEADER
*
********************************************/

#header {
	margin: 0 auto;
	text-align: center;
	border: 1px solid #e3e3e3;
	background: #e3e3e3 url("/assets/static.png");
	width: 100%;
	color: black;
	padding: 20px;
}

#header p a {
	margin: -15px 0px 0px 0px;
	font-size: 48px;
}

#header a {
	color: #355;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
}

#nav {
	border: 0px solid red;
	margin: 0 auto 0px -50px;
}

#nav ul {
	margin: -10 auto 0px 0px;
	list-style: none;
}

#nav ul li {
	display: inline;
}

#header a:hover {
	color: #D55;
}


/********************************************
*
* LANDING PAGE
*
********************************************/
.landing_even {
	background: #355 url("/assets/noise.png");
	height: auto;
	margin: -18px 0px 0px 0px;
	padding: 100px;
	color: #000;
}

.landing_odd {
	background: #e3e3e3 url("/assets/static.png");
	height: auto;
	opacity: 0.99;
}

.landing_odd:before {
	content: "";
	width: 0; 
	height: 0;
	margin: 0px 0px 0px -25px;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fffcf5;
}

.info {
	border: 0px solid red;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;
}

.landing_even:after {
	content: "";
	width: 0; 
	height: 0;
	margin: 100px 0px 0px -25px;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #355;
}

#first_value_statement {
	border: 0px solid red;
	padding-bottom: 10px;
	margin-top: 0px;
	text-align: center;
	color: white;
	font-size: 28px;
}

#second_value_statement {
	border-top: 1px grey dotted;
	border-bottom: 1px grey dotted;
	padding: 40px;
	font-size: 22px;
	font-style: bold;
}

#second_value_statement a {
	background: #D00;
	color: white;
	padding: 12px;
	border-radius: 3px;
	text-decoration: none;
	white-space: nowrap;
}

#second_value_statement a:hover {
	background: #F00;
}

/******************************************
*
* FOOTER
*
*******************************************/

footer {
	margin-top: -50px;
	border: 1px solid #222;
	background: #222;
	height: 75px;
	text-align: center;
}

#footer_logo {
	float: left;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 28px;
	margin: 0px 0px 0px 10px;
}

#footer_list {
	margin: 0px auto;
	height: 0px;
	border: 0px solid red;
	list-style: none;
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

#footer_list li {
	color: white;
	display: inline-block;
}

#footer_list li a {
	color: white;
	display: inline-block;
}


/*****************************************
*
* FRONT PAGE
*
******************************************/

#front_page {
	border: 0px solid red;
	margin: 0 auto;
	width: 500px;
}

#screencast {
	float: left;
	margin-left: 50px;
	border: 0px solid red;
	box-shadow: 5px 5px 5px #333;
}

#login_area {
	border: 0px solid green;
	margin: 0 auto 100px 0px;
	padding-bottom: 230px;
}

#front_pageLogin {
	color: white;
	float: left;
	margin: 0px 200px 0px 0px;
	background: #355 url("/assets/noise.png");
	border: 0px solid red;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
	color: white;
}

#login_options {
	position: absolute;
	margin: 60px 0px 0px 380px;
}

#fitbit_signup {
	border: 0px solid red;
	background: #333;
	padding: 10px;
	clear: left;
	float: right;
	margin: -130px 0px 0px 0px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
}

#fitbit_signup li {
	display: inline;
}

#fitbit_signup img {
	margin: 0px 0px 0px 0px;
	float: right;
}

#fitbit_text {
	float: left;
	padding-right: 10px;
	margin: 7px 0px 0px 0px;
	color: white;
}

#fitbit_signup:hover {
	background: #444;
}



/*****************************************
*
* PROFILE PAGES
*
******************************************/

#user_profile_nav {
	text-align: center;
	margin-bottom: 100px;
}

#user_profile_nav ul li {
	display: inline;
	list-style: none;
}

/*****************************************
*
* TRAINING
*
******************************************/

/**** 
* Styling for list of workouts on training page.
****/
#index_of_workout_tables {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	margin-bottom: 100px;
	border-collapse: collapse;
	float: left;
	background: #fff;
	
}

#index_of_workout_tables th {
	padding: 30px;
	border-bottom: 1px solid #777;
}

#index_of_workout_tables tr {
	border-bottom: 1px solid #777;
	padding: 30px;
	text-align: center;
	font-size: 18px;
}

#index_of_workout_tables td {
	border-bottom: 1px solid #777;
	padding: 30px;
	text-align: center;
	font-size: 18px;
}


/***
* Styling for actual workout table. 
****/
#show_workout_table {
	margin: 0 auto;
	display: block;
	padding-bottom: 100px;
	margin-bottom: 100px;
	border-collapse: collapse;
	text-align: center;
	background: #eef;
	border-radius: 3px;
}

#show_workout_table th {
	padding: 30px;
	border-bottom: 2px solid blue;
}

#show_workout_table tr, td {
	border-bottom: 1px solid blue;
	padding: 30px;
	text-align: center;
	font-size: 18px;
}

/*** 
* This is the rendering div for the workouts#show 
* table (requested via ajax).
* Toggled via jQuery code in show.js.erb.
**/

#workout_data {
	border: 0px solid red;
	float: left;
	display: none;
	padding: 20px;
	border-radius: 5px;
	background: #fff;
	color: black;
	margin-bottom: 100px;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s
}

#workout_data a {
	color: red;
}

/***
* Tabs to show different training metrics, including:
* 1. Analytics
* 2. Workouts List
* 3. 
***/

#training_tabs {
	border: 0px solid red;
	float: left;
	color: black;
	margin: 0px 0px 50px 0px;
}

#training_tabs a {
	color: black;
	border-bottom: 1px dotted black;
	text-decoration: none;
}

#training_tabs li {
	list-style: none;
	text-align: left;
	padding: 5px;
}

.link_tab.active {
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
	border-radius: 2px;
}

.link_tab.active:after {
	content: "";
	position: absolute;
	display: block;
	margin: -23px 0px 0px 89px;
	border: 14px solid;
	border-radius: 2px;
	border-color: transparent transparent transparent #444;
	opacity: 0.7;
	z-index: 50;
}

.row_for_workout.active {
		background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
		border-radius: 2px;
}

.row_for_workout.active:after {
	content: "";
	position: absolute;
	display: block;
	margin: 0px 0px 0px 0px;
	border: 40px solid;
	border-radius: 2px;
	border-color: transparent transparent transparent #444;
	opacity: 0.7;
	z-index: 50;
}

.row_for_workout a {
	text-decoration: underline;
}

.row_for_workout tr {
	border-bottom: 1px solid red;
	border-top: 1px solid red;
}


/*****************************************
*
* USER AUTHENTICATION/MANAGEMENT
*
******************************************/

#login {
	background: #355 url("/assets/noise.png");
	margin: 0 auto 100px;
	padding: 20px;
	width: 300px;
	color: white;
}

#register {
	background: #999;
	margin: 0 auto 100px;
	padding: 20px;
	width: 300px;
}


/********************************************
*
* WRAPPERS
*
********************************************/

#application_wrapper {

}

#content_wrapper {
	margin: 50px auto;
	text-align: center;
	border: 0px solid red;
}


/********************************************
*
* WORKOUTS
*
********************************************/

#workout_form {
	width: 900px;
	overflow:hidden;
  padding:20px;
	margin: auto;
	background: #D5D5D5;
	border: 0px solid red;
	margin-bottom: 100px;
	border-radius: 5px;
}

#workout_form .field {
	float:left;
	margin: 1em;
}

#workout_form .actions {
	float:left;
	margin-top: 51px;
}

#workout_form label {
	display: block;
	text-align: left;
	font-size: 16px;
}

#workout_form input {
  padding: 4px;
  font-size: 16px;
  color: #333;
}

.form_div {
	border: 1px solid red;
	height: auto;
}

#add_fields {
	border: 0px solid red;
}