/********************************************************************************************************************
*
* 	TABLE OF CONTENTS:
*	    1. HEADER
* 		2. LANDING PAGE
*		3. LOGO
* 		3. FOOTER
*		4. FRONT PAGE
*		5. PROFILE PAGES
* 		6. USER AUTHENTICATION/MANAGEMENT
*		7. WORKOUTS
*		8. WRAPPERS (APPLICATION/CONTENT)
*
**********************************************************************************************************************/


/*******************************************
*
* HEADER
*
********************************************/

#header {
	position: fixed;
	border: 0px solid green;
	background: #ddd url("/assets/static.png");
	width: 100%;
	color: black;
	z-index: 100;
}

#header_content {
	border: 0px solid red;
	width: 1150px;
	margin: 0px auto;
	clear: both;
}

.right_align {
	float: right;
}


/* base nav styles */  
nav { 
	display: block;
	float: right;
	border: 1px solid #aaa; 
	position: relative; 
	font: 16px Tahoma, Sans-serif; 
	margin: 10px 0px 0px 0px;
}
  
nav ul { 
	padding: 0; 
	margin: 0; 
}  
nav li { 
	position: relative; 
	float: left; 
	list-style-type: none; 
}

nav li:hover, .settings:hover {
	background: #eee;
	cursor: pointer;
}  

nav li a, .settings { 
	display: block; 
	padding: 10px 20px; 
	border-left: 1px solid #999; 
	border-right: 1px solid #999; 
	text-decoration: none; 
}



nav li:first-child a { 
	border-left: none; 
} 

nav ul li.current {
	border: 1px solid red;
}  

nav ul ul { 
	display: none;
	width: 100%; 
	position: absolute;
	margin-top: 10px; 
	left: 0;
	background: #D55; 
} 
 
nav ul ul li { 
	float: none;
	width: auto; 
}  

nav ul ul a { 
	padding: 0px; 
	font-size: 10px; 
	font-family: Tahoma;
	border-bottom: 1px solid #eee;
	text-align: center;
}  
nav ul ul a:hover { 
	background-color: #eee; 
}


/********************************************
*
* LANDING PAGE
*
********************************************/
.landing_even {
	background: #355 url("/assets/noise.png");
	height: auto;
	margin: -18px 0px 0px 0px;
	padding: 100px;
	color: #000;
}

.landing_odd {
	background: #e3e3e3 url("/assets/static.png");
	height: auto;
	opacity: 0.99;
}

.landing_odd:before {
	content: "";
	width: 0; 
	height: 0;
	margin: 0px 0px 0px -25px;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fffcf5;
}

.info {
	border: 0px solid red;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;
}

.landing_even:after {
	content: "";
	width: 0; 
	height: 0;
	margin: 100px 0px 0px -25px;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #355;
}

#first_value_statement {
	border: 0px solid red;
	padding-bottom: 10px;
	margin-top: 0px;
	text-align: center;
	color: white;
	font-size: 28px;
}

#second_value_statement {
	border-top: 1px grey dotted;
	border-bottom: 1px grey dotted;
	padding: 40px;
	font-size: 22px;
	font-style: bold;
}

#second_value_statement a {
	background: #D00;
	color: white;
	padding: 12px;
	border-radius: 3px;
	text-decoration: none;
	white-space: nowrap;
}

#second_value_statement a:hover {
	background: #F00;
}


/******************************************
*
* FOOTER
*
*******************************************/

footer {
	margin-top: -100px;
	border: 1px solid #222;
	background: #222;
	height: 75px;
	text-align: center;
}

#footer_logo {
	float: left;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 28px;
	margin: 0px 0px 0px 10px;
}

#footer_list {
	margin: 0px auto;
	height: 0px;
	border: 0px solid red;
	list-style: none;
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

#footer_list li {
	color: white;
	display: inline-block;
}

#footer_list li a {
	color: white;
	display: inline-block;
}


/*****************************************
*
* FRONT PAGE
*
******************************************/

#front_page {
	border: 0px solid red;
	margin: 70px 50px 0px 0px;
	float: right;
	width: auto;
}

#screencast {
	padding: 10px;
	float: left;
	margin-left: 0px;
	border: 0px solid red;
}

#screencast a {
	color: blue;
}

#login_area {
	border: 0px solid green;
	margin: 0px auto 0px 0px;
}

#front_pageLogin {
	color: #26b3cc;
	margin: 0 auto 10px;
	background: #333 url("/assets/noise.png");
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
	border-radius: 2px;
}

#front_pageLogin a {
	color: white;
}

#front_pageLogin a:hover {
	color: #D55;
}

#front_pageLogin input[type=text], input[type=password] {
	width: 160px;
	height: 24px;
	border-radius: 5px;
}

#login_area h2 {
	color: #26b3cc;
	border: 0px solid blue;
	margin: 0px 0px 10px 0px;
}

div#fitbit_button {
	margin: 0 auto;
	width: 190px;
	border: 0px solid red;
} 

#fitbit_signup {
	border: 0px solid red;
	background: #333;
	padding: 10px;
	float: left;
	margin: 0px auto 0px 10px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
}

#fitbit_signup li {
	display: inline;
}

#fitbit_signup img {
	margin: 0px 0px 0px 0px;
	float: right;
}

#fitbit_text {
	float: left;
	padding-right: 10px;
	margin: 7px 0px 0px 0px;
	color: white;
}

#fitbit_signup:hover {
	background: #444;
}

#first_section {
	border: 0px solid blue;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 50px;
	overflow: hidden;
	width: 1150px;
	
}

/*****************************************
*
* PROFILE PAGES
*
******************************************/

#profile_container {
	border: 0px solid red;
	overflow: hidden;
}

#profile_right {
	border: 0px solid black;
	overflow: hidden;
	width: 650px;
	float: right;
}

#profile_left {
	border: 0px solid black;
	margin: 50px 0px 0px 0px;
	overflow: hidden;
	width: 350px;
	float: left;
}

#profile_workout_container {
	border: 1px solid #444;
	width: 600px;
	min-height: 600px;
	margin: 0 auto;
}

#profile_workout_list {
	list-style: none;
	border-bottom: 1px solid #777;
	text-align: left;
}

#profile_workout_list ul {
	float: left;
}

#profile_workout_list li:last-child {
	float: right;
	margin: -20px 0px 0px 0px;
}

.no_workouts_yet {
	position: relative;
	border: 0px solid red;
	padding: 50px;
	border-radius: 30px/10px;
	width: 500px;
	margin: 40px auto;
	box-shadow: 0 0 20px #444;
	background: #fffefc;
}

.no_workouts_yet p {
	font-size: 36px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
}

.no_workouts_yet a {
	width: 100px;
	border: 0px solid red;
	background: #08D;
	font-style: bolder;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	color: #ddd;
	border-radius: 5px;
	box-shadow: #444 5px 5px 5px;
}

.no_workouts_yet a:hover {
		background: #0AF;
		color: #fff;
		margin-left: 2px;
		margin-top: 2px;
		box-shadow: #444 3px 3px 3px;
}


/*****************************************
*
* USER AUTHENTICATION/MANAGEMENT
*
******************************************/

#register {
	color: #26b3cc;
	background: #333 url("/assets/noise.png");
	margin: 0 auto 100px;
	padding: 20px;
	width: 300px;
}

#register input[type=text] {
	width: 160px;
	height: 24px;
	border-radius: 5px;
}

#register a {
	color: white;
}


/********************************************
*
* WRAPPERS
*
********************************************/

#application_wrapper {
	border: 1px solid transparent;
	width: 1150px;
	margin: 0 auto;
}

#content_wrapper {
	margin: 100px auto;
	text-align: center;
	border: 0px solid red;
	overflow: hidden;
}

/* For landing page */
.section_wrapper {
	width: 1150px;
	margin: 0 auto;
}


/********************************************
*
* WORKOUTS
*
********************************************/

#workout_form {
	width: 650px;
	overflow: hidden;
  padding:20px;
	margin: auto;
	border: 2px solid #777;
	margin-bottom: 100px;
	border-radius: 10px/150px;
	box-shadow: 0 0 20px #444;
	background: #fffefc;
}

#workout_form .field {
	float:left;
	margin: 1em;
}

#workout_form .actions {
	float:left;
	margin-top: 51px;
}

#workout_form label {
	display: block;
	text-align: left;
	font-size: 14px;
	color: #555;
}

#workout_form input {
  padding: 4px;
  font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: inset 0px 2px 2px #ccc;
}

#workout_form input[type=submit] {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BFFFB5), color-stop(1, #1AAD03));	cursor: pointer;
	border: 1px solid #444;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

#workout_form #submit {
		float: right;
}

#workout_form input[type=submit]:hover {
	background: rgba(34, 170, 5, 0.7);
	cursor: pointer;
	border: 1px solid #111;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

.form_div {
	border: 0px solid red;
	height: auto;
}

#add_fields {
	border: 0px solid red;
}

#workout_form ol {
	overflow: hidden;
	margin-left: -30px;
}

#workout_form ol li {
	overflow: hidden;
	list-style-position: inside;
	list-style: none;
}	

/* Div for exercise fields. Vertically aligned with OL number */
#workout_form .ex_fields {
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #dadada;
	border-radius: 0px;
	overflow: hidden;
	padding-left: 10px;
}
	
.field fieldset {
	border-radius: 5px;
	border: 1px solid #666;
}

#sets {
	border: 0px solid red;
	display: inline-block;
  vertical-align: middle;
  width: auto;
	color: black;
}

#num_sets {
	text-decoration: underline;
	color: #999;
	font-size: 22px;
	display: block;
}

#num_sets:first-letter {
	font-size: 48px;
	font-style: bolder;
}

.ex_counter {
	position: absolute;
	border: 1px solid red;
	width: 20px;
	height: 20px;
	margin: 27px 0px 0px -30px;
	background: #fd4042;
	border-radius: 30px/10px;
	padding: 10px;
	color: #222;
	font-size: 18px;
	
}

