/*****************************************
*
* TRAINING
*
******************************************/

/**** 
* Styling for list of workouts on training page.
****/
#index_of_workout_tables {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background: #fff;
	width: 550px;
}

#index_of_workout_tables  a {
	text-decoration: none;
}

#index_of_workout_tables thead tr {
	background: #fff;
	width: 700px;
}

.date {
	width: 40px;
}

.category {
	width: 60px;
}

.sets {
	width: 25px;
}

.name {
	width: 80px;
}

.duration {
	width: 40px;
}

.loadVolume {
	width: 40px;
}

.scrollingArea {
	max-height: 700px;
	overflow: auto;
	margin: 0 auto;
	width: 560px;
}

#index_of_workout_tables th {
	padding: 0px;
	border: 1px solid #777;
	font-variant: small-caps;
	color: white;
	background: #999;
}

#index_of_workout_tables th:hover {
	cursor: default;
}


#index_of_workout_tables tr {
	border: 1px solid #777;
	text-align: center;
	font-size: 12px;
}

#index_of_workout_tables tr:hover {
	background: #ccc;
	cursor: pointer;
}

#index_of_workout_tables td {
	border: 1px solid #777;
	padding: 2px;
	text-align: center;
	font-size: 12px;
}

/**** 
* Classes for table header cells and table body cells
* These are to synchronize widths of fixed table header cells
****/


/***
* Styling for actual workout table. 
****/
.workout_details {
	border: 1px dotted #ddd;
	width: 550px;
	margin: 0 auto;
	box-shadow: 0 0 20px #ddd;
}

.workout_details a {
	color: red;
	border: 1px solid #ccc;
	text-decoration: none;
	padding: 2px;
	box-shadow: 12px #eee;
	float: right;
}

.workout_details a:hover {
	color: red;
	border: 1px solid #ccc;
	text-decoration: none;
	padding: 2px;
	box-shadow: 12px #eee;
	float: right;
	background: #ddd;
}


.show_workout_table {
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	border: 0px solid red;
	border-radius: 3px;
}

.show_workout_table table {
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.show_workout_table th {
	padding: 5px;
	border-bottom: 1px solid blue;
}

.show_workout_table tr, td {
	border-bottom: 1px solid blue;
	padding: 5px;
	text-align: center;
	font-size: 14px;
}

/* Styling for index table rows */

.row_for_workout.active {
		background-image: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
		border-radius: 2px;
}

.row_for_workout a {
	text-decoration: underline;
}

.row_for_workout tr {
	border-bottom: 1px solid red;
	border-top: 1px solid red;
}
