<ul id="core_body_selectors" class="body_part_selectors_list">
		<% @all_tbps.each do |tbp| %>
		
			<label for="skill_level_<%= tbp %>"> 
				<li> 
					<%= check_box_tag "body_parts[#{tbp}]", 1, (@checked_tbps.include?(tbp) unless @checked_tbps.nil?), id: "		torso_body_parts_		#{tbp}" %> <%= tbp %> 
					<span class="facet_count">
						(<%= ExerciseDescription.where("ARRAY[?]::varchar[] && body_part", tbp).count %>)
					</span>
				</li>
			</label>
		
		<% end %>
</ul>
