 <% if object.errors.any? %>
    <div id="error_box">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.to_s.downcase %> from being saved:</h2>

      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg.gsub("Exercises base", "") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>